<!DOCTYPE html>
<html>
    <head>
        <!-- Standard Meta -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Soundcamp Search</title>
        <!-- Stylesheets -->
        <link href="lib/semantic/semantic.css" rel="stylesheet" type="text/css">
        <link href="css/subscriptions.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <!-- Header -->
        <header class="ui top fixed secondary pointing menu">
            <div class="ui container">
                <a href="/" class="header item">Soundcamp</a>
                <a href="/" class="item">Feed</a>
                <a href="/search" class="item">Search</a>
                <a href="/subscriptions" class="active green item">Subscriptions</a>
                <a href="/account" class="item">Account</a>
                <a href="/logout" class="item right">Log out</a>
            </div>
        </header>
        <!-- Body -->
        <div id="wrapper" class="ui container">
            <div class="ui segment">
                <h3 class="ui dividing header">List of Subscriptions:</h3>
                <div class="ui relaxed divided list">
                    <% if (subs) { %>
                        <% for (var i = 0; i < subs.length; i++) { %>
                            <div class="item">
                                <img class="ui image" src="<%= subs[i].image %>">
                                <div class="content">
                                    <span class="header"><%= subs[i].firstName + " " + subs[i].lastName + " - " + subs[i].username %></span>
                                    <div class="description"><%= subs[i].description %></div>
                                </div>
                            </div>
                        <% } %>
                    <% } %>
                </div>
            </div>
        </div>
    </body>
</html>